#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  width: 100%;
}

.app-header {
  margin-bottom: 2rem;
}

.app-header h1 {
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.app-header p {
  margin: 0.25rem 0;
  font-size: 1.2rem;
}

.card {
  padding: 2em;
}

.card button {
  margin-bottom: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
